body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #818998;
    text-transform: initial;
    
}
.header-img{
    
    background-color: rgba(5, 5, 134, 0.6);
    background-image: url('welcome-banner.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    min-height: 125vh;
    color: white;
    text-align: center;


}

.header-img .headline{
    
    margin-right: 5vw;
    margin-left: 10vw;
    margin-bottom: 45px;
    text-transform: uppercase;
    
    font-weight: 700;
    font-size: 42px;
    
}

.header-img .head-p{
    font-size: 18px;
    text-transform: initial;
    color: #fff;
    font-weight: 500;
    max-width: 735px;
    margin: 0 auto;
    
}

.header-img .btn{
    width: 230px;
    height: 60px;
    background: #4e4ffa;
    margin-top: 55px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
}
.navbar{
    padding-top: 6vh;
    transition: 0.5s;
}
.navbar-brand{
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Rufina', serif;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-nav{
    text-transform: uppercase;
    
    font-weight: 500;
    color: #f5f7fa;
    
}
.navbar-scroll{
    padding-top: 2vh;
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
@media (max-width: 992px) {
    .navbar {
        padding-top: 2vh;
        background-color: black;
        text-align: center;
    }
}

.modal-body{

    max-width: 80vw;
    min-height: 250px;
    margin: auto;
    margin-top: -130px;
    padding: 40px 80px 40px 80px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 2);
    
}

.modal-body .btn{
    width: 160px;
    margin-top: 30px;
    margin-left: 30px;
    background: #4e4ffa;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
}

.cards{
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}
.cards .card-img-top{
    object-fit: cover;
    width: 72px;
    height: 72px;
    margin: 2rem;;

}
.card-items-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-hover {
    transition: .5s;
    transition-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card-hover:hover {
    background-color: rgb(169, 194, 78);
    filter: invert(100%);
}
.newest-product{
   
    margin-right: auto;
    margin-left: auto;
}

.carousel-indicators {
    position: absolute;
    bottom: -75px;
    }

.newest-cars{
    background: #f8f9fb;
    padding: 112px 0 120px;
}

.newest-cars-testomnial{
    background: #f8f9fb;
    padding-bottom: 30px;

}
.section-header {
  position: relative;
  text-align: center;
  margin-bottom: 8rem;
  
}

.section-header h2{
    font-size: 36px;
    font-weight: 500;
    color: #444a57;
}

.section-header p {
    color: #444a57;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.featured-cars-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 220px;
    border-bottom: 1px solid #dadfe9;
}

.featured-cars-img img{
    width: auto;
    height: auto; 
}

.card-body h2 a {
    font-size: 16px;
    margin-bottom: 15px;
}

.card-body h3, .card-body p {
    font-size: 13px;
}

.card-body h3 {
    margin-bottom: 10px;
}

.feature-cars{
    padding: 112px 0 120px;
}
.devider{
    margin: 15px;
}

.contact {
  background: #2a2d54;
}

.footer-top {
  padding: 112px 0 72px;
}

.footer-copyright {
  padding: 20px 0 17px;
  border-top: 1px solid #434859;
}

.single-footer-widget {
  margin-bottom: 40px;
}

.footer-logo a, .footer-logo a:hover, .footer-logo a:focus {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  letter-spacing: 3px;
  font-family: 'Rufina', serif;
  font-weight: 700;
  text-transform: uppercase;
}

.single-footer-widget p {
  font-size: 14px;
  color: #eeeff6;
  max-width: 300px;
  margin: 40px 0 20px;
}

.footer-contact p {
  margin: 0;
  color: #d1d7e9;
}

.single-footer-widget h2 {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 43px;
}

ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.single-footer-widget ul li a {
  font-size: 14px;
  color: #cfd0e3;
  font-weight: 300;
  padding-bottom: 13px;
}

.footer-newsletter p {
  color: #aeafc2;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 15px;
}

.hm-foot-email {
  position: relative;
}

.foot-email-box input[type="text"] {
  font-size: 12px;
  color: #666c81;
  font-weight: 300;
}

.foot-email-box .form-control {
  background: #26294d;
  display: block;
  padding: 15px 20px;
  outline: 0 !important;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  border: 0;
}

.foot-email-subscribe {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: transparent;
  color: #666c81;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-email-subscribe {
  color: #666c81;
  font-size: 12px;
}

.footer-copyright {
  padding: 20px 0 17px;
  border-top: 1px solid #434859;
}

.footer-copyright p, .footer-copyright p a {
  color: #a8a9bf;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}